
h1 {
    font-family: "Oswald";
    text-align: center;
    font-weight: bold;
}

h2 {
    font-family: "Lato";
    font-weight: bold;
}

*{ font-family: Segoe UI, Tahoma, Geneva, sans-serif;
    color: #000;
}

#photo{
    width: 8vw;
    height: auto;
}

.subtitle{
    color: rgb(151 156 165 / 0.89);
    text-transform: uppercase;
}

footer p{
    text-align: right;
    font-style: italic;
}

nav > ul {
    list-style: none;
}

section{
    border: 0.2pt solid #cedddd;
    margin: 4px 2px 8px 2px;
    padding: 1.5% 0.8%;
    margin-bottom: 1.2rem;

    
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;

    -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
   -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
   box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
}